[Desktop Entry]
Encoding=UTF-8
Name=Link to snakeoil3_gym.py
Type=Link
URL=https://github.com/ugo-nama-kun/gym_torcs/blob/master/snakeoil3_gym.py
Icon=text-html
